.lantern {
  background-image: url("https://vignette.wikia.nocookie.net/marvel_dc/images/1/13/Emotional_Electromagnetic_Spectrum_0001.jpg/revision/latest?cb=20080522063603&format=original");
  backgound-repeat:no-reapeat;
  background-size:cover;
  padding: 0px;
  margin: 0px;
}
.center1 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.center2 {
    display: block;
    margin-left: 35%;
    margin-right: 35%;
    width: 100%;
}
.super{
  background-image: url("https://wallpapercave.com/wp/wc1679764.jpg");
  background-color: black;
  border-top: 5cm;
  width: 80%;
  height: 30%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-top: 20cm;

}

#lanterncorps {
  /*
  border-style: solid;
  border-width: thick;
  border-color:black;
  */
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.super{
  background-color: black;
  border-top: 20px;
  width: 96%;
  height: 30%;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

p {
  font-size: 18pt;
  font-family: cursive;
  color: white;
  font-style: normal;
  text-align: left;
  text-decoration: none;
}

.myh1{
  background-color: none;
  color: red;
  text-align: center;
  text-decoration: underline;

}
.crypton{
  width: 70%;
  height: 70%;
}

.strenght{
  text-align: center;
  text-decoration: underline;
  background-color: none;
  color: red;
}

.fort{
  text-align: center;
  text-decoration: underline;
  background-color: none;
  color: red;
}

.navSuper{

  text-align: center;
  background-color: white;
  color: red;
}
.evryBody{
    background-image: url("https://wallpapercave.com/wp/wc1679764.jpg");

}

h1{
  text.align: center;
}
#DC1Cover{
  width: 300px;

}
.DCHistoryBackground{
  background-image: url(https://img.purch.com/dcu-logo-jpg/w/755/aHR0cDovL21lZGlhLmJlc3RvZm1pY3JvLmNvbS9FL0kvNzg1ODk4L29yaWdpbmFsL0RDVS1Mb2dvLmpwZw==);
  background-repeat: no-repeat;
  background-size: cover;
}

.theNew {
    display:block;
    background-color:cornflowerblue;
    color:white;

}

.dcRebirth {
    display:block;
    background-color:black;
    color:white;

}

.dcThoughtRobot {
    display:block;
    background-color:grey;
    color:black;
}
